<div ng-controller="HomeController as model">


    <form class="form-inline form-home" style="border: none">

        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></div>
            <input type="text" class="form-control" ng-model="model.word" placeholder="Look Up">
        </div>

        <button type="submit" ng-click="model.lookUp(model.word)" class="btn btn-primary">Search</button>
    </form>

    <div ng-show="model.message" class="alert alert-danger width-class" role="alert">{{model.message}}</div>


    <div ng-show="model.wordInfo" class="details-container">

        <div class="form-inline">
            <h3>{{model.wordInfo[0].word}}</h3>
            <div style="padding-left: 10px"><button type="submit" class="btn btn-sm btn-info">Save</button></div>
        </div>


        <div ng-repeat="info in model.wordInfo[0].lexicalEntries" style="padding-top: 10px">

            <hr>

            <div style="display: inline-block">
                <i>{{info.lexicalCategory}}</i>
                <a href="{{info.pronunciations[0].audioFile}}">
                    <i class="btn btn-sm fa fa-volume-up" aria-hidden="true"></i>
                </a>
            </div>

            <div ng-repeat="i in info.entries[0].senses" style="padding-top: 5px">

                <div class="form-inline">
                    <h5>{{i.definitions[0]}}</h5>
                </div>

                <div style="padding-top: 5px" ng-show="i.domains[0]">
                    <i><b>Domain</b></i>
                    <h6>{{i.domains[0]}}</h6>
                </div>

                <div ng-show="i.examples">
                    <i><u>Usage</u></i>
                    <div ng-repeat="ex in i.examples" style="padding-bottom: 5px">
                        <h6>{{ex.text}}</h6>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>