<div ng-controller="HomeController as model">


    <form class="form-inline form-home" style="border: none">

        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></div>
            <input type="text" class="form-control" ng-model="model.word" placeholder="Look Up">
        </div>

        <button type="submit" ng-click="model.lookUp(model.word)" class="btn btn-primary">Search</button>
    </form>


    <div ng-show="model.wordInfo" class="details-container">

        <div ng-show="model.message" class="alert alert-danger width-class" role="alert">{{model.message}}</div>
        
        <div class="form-inline">
            <h3>{{model.wordInfo[0].word}}</h3>

            <div style="padding-left: 10px" ng-hide="currentUser">
                <button class="btn btn-sm btn-info" ng-click="model.showMessage()">Save</button>
            </div>


            <div  class="input-group" style="padding-left: 10px" ng-show="currentUser">

                <button ng-show="model.catStatus" class="btn btn-sm btn-info" ng-click="model.catStatus = false">Add to a Category</button>

                <input ng-hide="model.catStatus" type="text" class="form-control" ng-model="model.catName" placeholder="Enter new category">

                <select ng-hide="model.catStatus" class="form-control" ng-model="model.catName">
                    <option value="" disabled selected>Select existing</option>
                    <option ng-repeat="cat in model.userCategories| unique:'name'" value={{cat.name}}>{{cat.name}}</option>
                </select>

                <span class="input-group-btn">
                    <button ng-hide="model.catStatus"  class="btn btn-sm btn-info" ng-click="model.saveWord()">Save</button>
                </span>
            </div>
        </div>

        <div ng-repeat="info in model.wordInfo[0].lexicalEntries" style="padding-top: 10px">

            <hr>

            <div style="display: inline-block">
                <i>{{info.lexicalCategory}}</i>
                <a href="{{info.pronunciations[0].audioFile}}">
                    <i class="btn btn-sm fa fa-volume-up" aria-hidden="true"></i>
                </a>
            </div>

            <div ng-repeat="i in info.entries[0].senses" style="padding-top: 5px">

                <div class="form-inline">
                    <h5>{{i.definitions[0]}}</h5>
                </div>

                <div style="padding-top: 5px" ng-show="i.domains[0]">
                    <i><b>Domain</b></i>
                    <h6>{{i.domains[0]}}</h6>
                </div>

                <div ng-show="i.examples">
                    <i><u>Usage</u></i>
                    <div ng-repeat="ex in i.examples" style="padding-bottom: 5px">
                        <h6>{{ex.text}}</h6>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>