<nav class="navbar navbar-expand-md bg-dark navbar-dark" ng-controller="HeaderController as model">

    <a class="navbar-brand" href="#">VocabHub</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav pull-right">
            <li ng-show = "currentUser" class="nav-item"><a class="nav-link" href="#/home">Home</a></li>

            <li ng-hide = "currentUser" class="nav-item"><a class="nav-link" href="#/signIn">Sign In</a></li>

            <li ng-hide = "currentUser" class="nav-item"><a class="nav-link" href="#/signUp">Sign Up</a></li>

            <li ng-show = "currentUser" class="nav-item"><a class="nav-link" href="#/home" ng-click="model.logout()">Sign Out</a></li>
        </ul>
    </div>
</nav>

